//- add all mixins
include ../mod

- const menu = ['Акции','Доставка','Возрат','Вакансии','Для бизнеса','Вакансии']

//- lg header
header(
    class="xl:px-16 bg-saldo text-white z-20")
    nav(
        class="hidden xl:flex items-center justify-between h-14 gap-5 max-w-[1440px] 2xl:mx-auto shrink-0")
        ul(
            class="inline-flex items-center gap-x-4 *no-underline hover:*:underline")
            each el in menu
                a(href='./scr/footer.pug') #{el}

        ul(class="inline-flex items-center gap-4 *no-underline hover:*:underline")
            li
                +address("Нижняя Салда ул. Ломоносова 10", "https://yandex.ru/maps/20687/nizhnyaya-salda/house/ulitsa_lomonosova_10/YkkYcA5lTEAEQFtifXx2dXVlbQ==/?ll=60.695552%2C58.074969&z=17")
            li
                +phone("9097054703")
            li
                +phone("9630313971")
            li
                +telegram("9630313971")
            li
                +whatsapp("9630313971")





//- sm header
header(
    class="xl:hidden bg-saldo text-white shrink-0")
    nav(
        class="flex items-center py-2 xl:py-4 justify-evenly md:-ml-8")
            div(class="modal-dir" data-modal-id="mobileMenu")
                +hamburger("white")
            div(class="min-w-2.5 mb-1")
                +logo_mobile_header()
            +mobile_addition_buttons()

    //div(class="hidden inline-flex h-dvh absolute z-10 w-full top-0 bg-white" id="mobileMenu")
    //    +menu()
    //div(class="hidden inline-flex h-dvh absolute z-20 w-full top-0 bg-white" id="mobileSubMenu")
    //    +submenu()