mixin buttonLeft
    button(class=" text-saldo fill-none hover:fill-saldo hover:text-white w-1/6")
        svg(width="30" height="30", viewBox="0 0 30 30", xmlns="http://www.w3.org/2000/svg", class="size-6 stroke-current")
            path(d="M23.4375 3.75H6.5625C5.0092 3.75 3.75 5.0092 3.75 6.5625V23.4375C3.75 24.9908 5.0092 26.25 6.5625 26.25H23.4375C24.9908 26.25 26.25 24.9908 26.25 23.4375V6.5625C26.25 5.0092 24.9908 3.75 23.4375 3.75Z" stroke-width="2" stroke-linejoin="round")
            path(d="M17.3438 20.625L11.7188 15L17.3438 9.375" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin buttonRight
    button(class=" text-saldo fill-none hover:fill-saldo hover:text-white w-1/6")
        svg(width="30" height="30", viewBox="0 0 30 30", xmlns="http://www.w3.org/2000/svg", class="size-6 stroke-current rotate-180")
            path(d="M23.4375 3.75H6.5625C5.0092 3.75 3.75 5.0092 3.75 6.5625V23.4375C3.75 24.9908 5.0092 26.25 6.5625 26.25H23.4375C24.9908 26.25 26.25 24.9908 26.25 23.4375V6.5625C26.25 5.0092 24.9908 3.75 23.4375 3.75Z" stroke-width="2" stroke-linejoin="round")
            path(d="M17.3438 20.625L11.7188 15L17.3438 9.375" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin button_catalog(text)
    button(class="p-2 px-2 xl:px-6 bg-saldo-100 rounded-xl items-center text-saldo hover:bg-saldo hover:text-white")
        div(class="text-blue-800 text-base font-bold leading-snug")
        |#{text || "Каталог"}

mixin button_card
    button(class="p-0.5 px-2 xl:px-3 bg-saldo rounded-xl items-center  hover:bg-saldo-100 hover:text-saldo")
        span(class="text-white text-[12px] vsm:text-sm xl:text-md xl:text-base leading-snug")
            |В корзину

mixin menu_categorie(text)
    li(class="w-full")
        button(class="flex rounded-md hover:bg-saldo-300 items-center justify-between w-full modal-dir" data-modal-id="mobileSubMenu")
            div(class="flex gap-2 items-center ml-2 p-2")
                div(class="aspect-square bg-saldo size-6 mb-1")
                span(class="text-saldo-600 text-lg")
                    | #{text || "Категория"}
            div(class="flex fill-transparent stroke-saldo")
                svg(width="30" height="30", viewBox="0 0 30 30", xmlns="http://www.w3.org/2000/svg", class="size-10 rotate-180")
                    path(d="M17.3438 20.625L11.7188 15L17.3438 9.375" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin submenu_categorie(text)
    div(class="w-full xl:w-auto")
        a(href="catalog.html")
            button(class="flex xl:flex-col rounded-md hover:bg-saldo-300 xl:hover:bg-transparent items-center justify-between w-full xl:w-auto xl:items-start")
                div(class="ml-2.5 p-2 xl:m-0 xl:p-0 items-start flex flex-col justify-start gap-4")
                    span(class="text-saldo-600 text-lg")
                        | #{text || "Категория"}
                    //idk, mb this is "about field", mb that is links
                    span(class="text-saldo-600 text-lg hidden xl:block text-pretty")
                        |LOREM LOREM LOREM
                        |LOREM LOREM LOREM
                        |LOREM LOREM LOREM
                        |LOREM LOREM LOREM
                    div(class="hidden xl:flex fill-transparent stroke-saldo-300 ml-1")
                        span(class="text-saldo-300 text-lg hidden xl:block")
                            | Ещё
                        svg(width="30" height="30", viewBox="-5 0 30 30", xmlns="http://www.w3.org/2000/svg", class="size-10 -rotate-90")
                            path(d="M17.3438 20.625L11.7188 15L17.3438 9.375" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin checkbox(text, id)

    //checker box
    li(class="flex gap-2 items-center")
       //checkbox
       input(type="checkbox" id=id
           class="appearance-none size-5 bg-white rounded-md peer")
       div(class='flex justify-center items-center size-5 absolute rounded-md pointer-events-none stroke-none peer-checked:stroke-saldo border-saldo border-2')
           svg(width='12' height='10' viewbox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg' class="")
               path(d='M11 1L4 9L1 5.8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
       //label
       label(for=id class="select-none") #{text}